.bg-background {
  background-color: var(--background-color);
  padding-top: 50px;

  .text-center{
    color: var(--lg-text-color);
  }

  .section-error{
    color: var(--lg-text-color);
  }
}






.buscador {
  justify-content: center;
  width: 80%;
  margin: auto;
  position: relative;
  /* Añadir esto para que .results se posicione correctamente */

  .search-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    font-family: var(--font-family-afacad);
    align-items: center;
    margin-top: 1rem;
    padding: 0 10px;
    border: 1px solid var(--border-color-inverted);
    border-radius: 1.5rem;
    justify-content: space-between;

    &:focus-within {
      border: 1px solid var(--primary-color);
      box-shadow: 0px 0px 6px rgba(0, 123, 255, 0.5);
    }

    input {
      padding: 0.4rem 1rem;
      width: 100%;
      font-size: 1rem;
      outline: none;
      border: none;
      transition: all 0.3s ease;
      background-color: transparent;

      &::placeholder {
        color: var(--placeholder-text-color);
      }
    }

    .search-icon {
      font-size: 1.5rem;
      color: var(--text-muted);
      cursor: pointer;
    }
  }

  .results {
    background-color: var(--background-color-content);
    font-family: var(--font-family-afacad);
    width: 100%;
    z-index: 10;
    border-radius: 20px;
    color: var(--lg-text-color);
    transition: transform 0.2s ease-in-out;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 100%;
    margin-top: 1rem;

    p {
      color: var(--base-text-color);
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      transition: transform 0.2s ease-in-out;
      padding: 10px;
      cursor: pointer;
      color: var(--lg-text-color);

      &:hover {
        background-color: var(--background-color);
      }
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    a:hover {
      color: var(--lg-text-color);
    }
  }
}

.main {
  z-index: 3;
  text-align: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: var(--background-color);

  .section-title {
    font-size: var(--font-subtitle-small);
    margin-bottom: 20px;
    text-align: center;
    color: var(--lg-text-color);
  }

  .image-section {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    .rounded-image {
      border-radius: 50%;
      width: 400px;
      height: 400px;
      object-fit: cover;
      box-shadow: var(--light-shadow1);
    }
  }



  /* ¿Quiénes Somos? */
  .about-us {
    background-color: var(--secondary-color);
    padding: 15px 20px;
    font-family: var(--font-family-afacad);
    border-radius: 20px;
  }

  .about-us__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
  }

  .about-us .rounded-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  .about-us .about-text {
    max-width: 600px;
    font-size: 1.125rem;
    line-height: 1.6;
    color: #333;
    /* Texto oscuro */
  }

  /* Carrusel de sucursales */
  .branches-section {
    margin: 40px 0;
    text-align: center;
  }

  .branches-section .swiper-slide img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }

  .branches-section .swiper-slide img:hover {
    transform: scale(1.05);
  }

  .swiper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #000;
    font-size: 20px;
  }

  /* Paginación */
  .swiper-pagination-bullet {
    background-color: #000;
  }

  .swiper-pagination-bullet-active {
    background-color: #f5a623;
    /* Color de punto activo */
  }



  // Variables para los breakpoints
  $small-screen: 380px;
  $medium-screen: 768px;
  $large-screen: 1024px;

  // Ajustes generales para pantallas pequeñas
  @media (max-width: $small-screen) {
    .hero-content {
      flex-direction: column;
      text-align: center;

      .hero-text {
        max-width: 100%;
      }

      .hero-image img {
        max-width: 70%;
        margin: 0 auto;
      }
    }

    .search-wrapper {
      width: 90%;
    }

    .branches-grid {
      grid-template-columns: 1fr;
      gap: 10px;
    }

    .rounded-image {
      width: 200px;
      height: 200px;
    }
  }

  // Ajustes para pantallas medianas
  @media (max-width: $medium-screen) {
    .hero-content {
      flex-direction: column;

      .hero-text {
        max-width: 100%;
        text-align: center;
      }

      .hero-image img {
        max-width: 80%;
      }
    }

    .branches-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }
  }

  // Ajustes para pantallas grandes
  @media (min-width: $large-screen) {
    .hero-content {
      flex-direction: row;

      .hero-text {
        max-width: 50%;
      }

      .hero-image img {
        max-width: 50%;
      }
    }

    .branches-grid {
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }
  }
}