.card{
    background-color: var(--background-color-content);
    font-family: var(--font-family-afacad);
    border-radius: 8px;
    width: 300px;
    box-shadow: var(--light-shadow1);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-items: center;
    padding: 5px;

    &__content-description{
        text-align: center;
        color: var(--lg-text-color);
    }

    &__title{
        font-size: var(--font-subtitle);
        font-weight: bold;
    }

    &__cantidad{
        font-size: var(--font-subtitle);
        font-weight: bold;
    }

    &__text{
        font-size: var(--font-small);
        font-weight: 300;
    }

    &__chart{

    }
}