.product-card {
    background-color: var(--background-color-content);
    font-family: var(--font-family-afacad);
    border-radius: 5px;
    width: 280px;
    cursor: pointer;
    box-shadow: var(--light-shadow1);
    transition: var(--default-transition);
    overflow: hidden;
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    padding: 3px 2px;
    position: relative;
  
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 24px;
    }
  
    &__header {
      position: relative;
      width: 100%;
      text-align: center;
  
      .product-card__image {
        max-width: 100%;
        height: 200px;
        border-radius: 5px;
        margin-top: 10px;
      }
  
    
    }
  
    &__body {
      text-align: center;
      margin: 5px 0;
  
      .product-card__name {
        font-size: 1.3rem;
        margin-bottom: 4px;
        color: var(--xl-text-color);
      }
  
      .product-card__description {
        font-size: var(--font-text-small);
        color: var(--base-text-color);
        margin-bottom: 3px;
      }
  
      .product-card__price {
        font-size: 1.2rem;
        color: var(--green-color);
        font-weight: 800;
      }
    }
  
    &__cart-btn {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1.2rem;
      color: var(--primary-color);
  
    }
  }
  