.returnPage {
    margin-top: 55px;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

    h3 {
        color: var(--xl-text-color);
    }

    p {
        color: var(--xl-text-color);
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 10px 15px;
        margin: 20px;
        border-radius: 10px;
    }
}
