.specificReturnPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;


    p {
        color: var(--xl-text-color);
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        font-family: var(--font-family-afacad);
        gap: 20px;
        padding: 20px;
        margin: 20px;
        background-color: var(--background-color);

        &-Image {
            flex: 1;
            text-align: center;
            max-width: 200px;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100%;

            p {
                font-weight: bold;
                font-family: var(--font-family-afacad);
                text-align: start;
                color: var(--xl-text-color);
            }

            img {
                max-width: 100%;
                height: auto;
                border-radius: 8px;
                margin-top: 10px;
            }
        }

        &-Info {
            flex: 2;
            max-width: 600px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            font-size: var(--font-placeholder-small);
            color: var(--lg-text-color);
            margin: 10px;
            padding: 15px;

            .numOrden {
                font-weight: bold;
            }

            h3 {
                margin: 0;
                font-size: 14px;
                font-weight: bold;
                color: var(--lg-text-color);
                font-family: var(--font-family-afacad);
            }

            span {
                display: block;
                font-size: 14px;
                color: var(--lg-text-color);
            }

            div {
                display: flex;
                align-items: center;
                gap: 10px;
            }

            &-Buttons {
                display: flex;
                gap: 10px;
                margin-top: 20px;

                &-button1 {
                    color: var(--text-button);
                    padding: 10px 20px;
                    border-radius: 5px;
                    border: 2px solid var(--border-color-inverted);
                    cursor: pointer;
                    transition: background-color 0.3s;

                    &:hover {
                        background-color: var(--secondary-color-b);
                    }
                }

                &-button2 {
                    color: var(--text-button);
                    padding: 10px 20px;
                    border-radius: 5px;
                    border: 2px solid var(--border-color-inverted);
                    cursor: pointer;
                    transition: background-color 0.3s;

                    &:hover {
                        background-color: var(--secondary-color-b);
                    }
                }

                &-button3 {
                    background-color: var(--toggle-btn-bg-color);
                  color: var(--toggle-btn-text-color);
                    padding: 10px 20px;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: background-color 0.3s;
                    border: 2px solid var(--dark-color);
                    font-family: var(--font-family-afacad);

                    &:hover {
                        background-color: var(--dark-color);
                        color: var(--light-color);

                    }
                }
            }
        }


    }
}