.cardReturn {
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: 90%;
    height: auto;
    //scale
    transform: scale(1);
    transition: 0.3s;
    background-color: var(--side-link-hover-color);
    color: var(--xl-text-color);
    font-family: var(--font-family-afacad);




    &:hover {
        transform: scale(1.02);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }


    &__content-description {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        width: 100%;
        height: 100%;
        color: var(--xl-text-color);

    }

    &__image {
        flex: 0 0 auto;
        //margin-right: 10px;

        img {
            width: 100px;
            height: 100px;
            border-radius: 8px;
        }
    }

    &__title {
        font-size: 1.1rem;
        margin: 0;
        font-weight: bold;
        color: var(--xl-text-color);

    }

    &__problema {
        flex: 1;
        margin: 0;
        color: var(--xl-text-color);

        span {
            font-weight: bold;
            margin-right: 100px;
            color: var(--xl-text-color);


        }
    }

    &__content-date {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        width: 100%;
        height: 100%;
        color: var(--xl-text-color);

    }

    &__fechaDeCompra,
    &__fechaDeSolicitud {
        color: var(--xl-text-color);

        span {
            font-weight: bold;
            margin-right: 100px;
            color: var(--xl-text-color);

        }

    }

    &__buttonVer {
        button {
            background-color: var(--red-color);
            color: var(--light-color);
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
            font-size: var(--font-text-small);
            margin-right: 50px;
            width: 100px;
        }
    }
}